@model Models.DTO.AdminDashboard
@{
    ViewBag.Title = "Admin Dashboard - Analytics";
}

<h2 class="page_Header">@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>


<div class="main-container">
    <div class="main-left-conatiner">
        <div class="left-container">
            <div class="graphs_Container">
                <div class="graphs">
                    <canvas id="orderPlacesxItemsSoldChart"></canvas>
                </div>
                <div class="graphs">
                    <canvas id="totalMonthlySalesChart"></canvas>
                </div>
            </div>
            
            <div class="seller_Blocks_Container">
                <a class="seller_Blocks" href="~/Account/SellerProfile">
                    <h4>Total Orders &nbsp;<i class="fas fa-refresh"></i></h4>
                    <h5><strong>@Model.TotalSales</strong></h5>
                </a>
                <a class="seller_Blocks">
                    <h4>Total Sales Amount &nbsp;<i class="fas fa-refresh"></i></h4>
                    <h5><strong>&#x20B9;@Model.TotalSalesAmount</strong></h5>
                </a>
                <a class="seller_Blocks">
                    <h4>Total Items Sold &nbsp;<i class="fas fa-refresh"></i></h4>
                    <h5><strong>@Model.TotalSalesQuantity</strong></h5>
                </a>

                <a class="seller_Blocks" href="~/Products/Index">
                    <h4>Total Products &nbsp;<i class="fas fa-refresh"></i></h4>
                    <h5><strong>@Model.TotalProducts</strong></h5>
                </a>
                <a class="seller_Blocks">
                    <h4>Total Returns &nbsp;<i class="fas fa-refresh"></i></h4>
                    <h5><strong>0</strong></h5>
                </a>
                <a class="seller_Blocks" href="~/Account/UserManagement">
                    <h4>Active Users &nbsp;<i class="fas fa-refresh"></i></h4>
                    <h5><strong>@Model.ActiveUsersCount  </strong></h5>
                </a>
            </div>
        </div>
    </div>

    <br />

    <div class="bottom_Container">
        <div class="bottom_Left">
            <table class="product_List_Table adminDash_ProductList">
                <thead>
                    <tr>
                        <th style="display: none;">
                            ProductID
                        </th>
                        <th style="display:none;">
                            Category ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th class="mobile_Hidden">
                            Category
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th class="mobile_Hidden">
                            Price (&#8377;)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>

                <tbody class="customScrollBar">
                    @foreach (var item in Model.productList.OrderBy(a => a.Quantity))
                    {
                        <tr>
                            <td style="display:none;">
                                @Html.HiddenFor(modelItem => item.ProductID)
                            </td>
                            <td style="display:none;">
                                @Html.DisplayFor(modelItem => item.CategoryID_FK)
                            </td>
                            <td>
                                @item.PName
                            </td>
                            <td class="mobile_Hidden">
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td class="mobile_Hidden">
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                <a href="@Url.Action("EditProduct", new { id = item.ProductID })"><i class="fas fa-pen"></i></a> &nbsp; |
                                <a onclick="ViewProductDetails(@item.ProductID)"><i class="fas fa-info"></i></a> &nbsp; |
                                <a onclick="DeleteProduct(@item.ProductID)"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="bottom_Right">
            @if (Model.userList != null && Model.userList.Count > 0)
            {
                <table class="userDetailList_Table adminDash_UserList">
                    <thead>
                        <tr>
                            <th>UserName</th>
                            <th>User Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="customScrollBar">
                        @{
                            int i = 0;
                            foreach (var usrDet in Model.userList)
                            {
                                i++;
                                <tr>
                                    <td>@usrDet.UserName</td>
                                    <td>@usrDet.UserType</td>
                                    @if (usrDet.IsActive)
                                    {
                                        <td><button class="btn-success writeReviewBtn" id="@usrDet.UserName" onclick="UpdateUserStatus('@usrDet.UserName')"><i class="fas fa-edit"></i> Active</button></td>

                                    }
                                    else
                                    {
                                        <td><button class="btn-primary writeReviewBtn" id="@usrDet.UserName" onclick="UpdateUserStatus('@usrDet.UserName')"><i class="fas fa-edit"></i> In Active</button></td>
                                    }

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
            else
            {
                <center><p>No Users Found..!!</p></center>
            }
        </div>
    </div>
</div>


<p>
    @Html.ActionLink("Back", "Index", "Products")
</p>


<style>

    hr {
        border: 1.25px solid black;
    }

    .right-container h2 {
        margin-top: 5px;
        padding: 5px;
    }
</style>

<script>
    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

    const ctx = document.getElementById('orderPlacesxItemsSoldChart');
    new Chart(ctx, {
        type: 'bar',  //line, pie, doughnut
        data: {
            labels: JSON.parse('@Model.Month').map(month => months[month-1]),
            datasets: [{
                label: 'Orders Placed',
                data: JSON.parse('@Model.MonthOrders'),
                borderWidth: 1
            },
            {
                label: 'Items Sold',
                data: JSON.parse('@Model.MonthQuantity'),
                borderWidth: 1
            }
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const ctx1 = document.getElementById('totalMonthlySalesChart');
    new Chart(ctx1, {
    type: 'line',  //bar, line, pie, doughnut
    data: {
        labels: JSON.parse('@Model.Month').map(month => months[month-1]),
        datasets: [{
            label: 'Amount (in Rs.)',
            data: JSON.parse('@Model.MonthAmount'),
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

</script>
