@model Models.DTO.UserDetails

@{
    ViewBag.Title = "Register";
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "register_Form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="register_Form_Body">
    <h2>Register</h2>
    <div class="row_Input">
        <div class="form_Input">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form_Control", @required = "required", @placeholder = "First Name" } })
        </div>
        <div class="form_Input">
            @Html.EditorFor(model => model.MidName, new { htmlAttributes = new { @class = "form_Control", @placeholder = "Middle Name" } })
        </div>
        <div class="form_Input">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form_Control", @required = "required", @placeholder = "Last Name" } })
        </div>
    </div>

    <div class="row_Input">
        <div class="form_Input">
            @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form_Control", @maxlength = 10, @required = "required", @placeholder = "Contact No" } })
        </div>

        <div class="form_Input">
            @Html.EditorFor(model => model.AadharNumber, new { htmlAttributes = new { @class = "form_Control", @required = "required", @placeholder = "Aadhar Number" } })
        </div>

        <div class="form_Input">
            @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form_Control", @required = "required", @placeholder = "Email (text@gmail.com)" } })
        </div>
    </div>

    <div class="row_Input">
        <div class="form_Input">
            @Html.DropDownListFor(model => model.State, new SelectList(ViewBag.lstStateList, "Value", "Text"), "Please Select State", new { @class = "form_Control", @onChange = "GetCity(this)", @required = "required" })
        </div>

        <div class="form_Input asd">
            <select class="form_Control" id="ddlCity" onChange="GetPincode(this)" name="City" required>
                <option>Please Select City</option>
            </select>
        </div>

        <div class="form_Input">
            @Html.EditorFor(model => model.PinCode, new { htmlAttributes = new { @class = "form_Control", @required = "required", @placeholder = "Pincode" } })
        </div>
    </div>

    <div class="row_Input">
        <div class="form_Input full_Address">
            @Html.TextAreaFor(model => model.FullAddress, new { @class = "form_Control", @rows = "4", @cols = "100", @required = "required", @placeholder = "Full Address" })
        </div>
    </div>

    <h2>Credentials</h2>

    <div class="row_Input" style="margin-top: -10px;">
        <div class="form_Input">
            <i class="fas fa-user"></i>
            @Html.EditorFor(model => model.loginObject.UserName, new { htmlAttributes = new { @class = "form_Control", @required = "required", @placeholder = "Username" } })
        </div>

        <div class="form_Input">
            @*@Html.LabelFor(model => model.loginObject.LoginType, htmlAttributes: new { @class = "control-label " })*@
            @Html.DropDownListFor(model => model.loginObject.LoginType, new SelectList(ViewBag.lstLoginType, "Text", "Text"), "Select LoginType", new { @class = "form_Control", @required = "required" })
        </div>

        <div class="form_Input">
            <i class="fas fa-lock"></i>
            @Html.EditorFor(model => model.loginObject.Password, new { htmlAttributes = new { @class = "form_Control", @required = "required", @placeholder = "Password", @type = "password" } })
        </div>
    </div>
    
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit" class="login_Submit">Sign Up</button>
    @Html.ActionLink("Already Registered? Login Here", "Login")

</div>
}
