@model Models.DTO.LstOrderDetailsForSeller
@{
    ViewBag.Title = "Seller's Profile";
}

<h2> Seller Profile</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>

<div class="main-container">
    <div class="left-container">
        <div class="user-form-body">
            <div style="height:10px">

            </div>
            <div class="row">
                <div class="form-grp col-sm-3">
                    @Html.LabelFor(model => model.UserDetails.FirstName, htmlAttributes: new { @class = "control-label " })
                    @Html.DisplayTextFor(model => model.UserDetails.FirstName)
                </div>

                <div class="form-grp col-sm-3">
                    @Html.LabelFor(model => model.UserDetails.MidName, htmlAttributes: new { @class = "control-label " })
                    @Html.DisplayTextFor(model => model.UserDetails.MidName)
                </div>

                <div class="form-grp col-sm-3">
                    @Html.LabelFor(model => model.UserDetails.LastName, htmlAttributes: new { @class = "control-label " })
                    @Html.DisplayTextFor(model => model.UserDetails.LastName)
                </div>
            </div>

            <div class="row">
                <div class="form-grp col-sm-3">
                    @Html.LabelFor(model => model.UserDetails.MobileNo, htmlAttributes: new { @class = "control-label " })
                    @Html.DisplayTextFor(model => model.UserDetails.MobileNo)
                </div>

                <div class="form-grp col-sm-3">
                    @Html.LabelFor(model => model.UserDetails.AadharNumber, htmlAttributes: new { @class = "control-label " })
                    @Html.DisplayTextFor(model => model.UserDetails.AadharNumber)
                </div>

                <div class="form-grp col-sm-3">
                    @Html.LabelFor(model => model.UserDetails.EmailID, htmlAttributes: new { @class = "control-label " })
                    @Html.DisplayTextFor(model => model.UserDetails.EmailID)
                </div>
            </div>

            <div class="row">
                <div class="form-grp col-sm-3">
                    @Html.LabelFor(model => model.UserDetails.State, htmlAttributes: new { @class = "control-label " })
                    @Html.DisplayTextFor(model => model.UserDetails.State)
                </div>

                <div class="form-grp col-sm-3">
                    @Html.LabelFor(model => model.UserDetails.City, htmlAttributes: new { @class = "control-label " })
                    @Html.DisplayTextFor(model => model.UserDetails.City)
                </div>

                <div class="form-grp col-sm-3">
                    @Html.LabelFor(model => model.UserDetails.PinCode, htmlAttributes: new { @class = "control-label " })
                    @Html.DisplayTextFor(model => model.UserDetails.PinCode)
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12">
                    @Html.LabelFor(model => model.UserDetails.FullAddress, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.UserDetails.FullAddress, new { @class = "form-control", @rows = "4", @cols = "100", @readonly="readonly" })
                </div>
            </div>
        </div>
    </div>
    <div class="right-container">
        <h2> Received Orders</h2>
        <hr />
        @if (Model.OrderDetails != null && Model.OrderDetails.Count > 0)
        {
            <table class="table table-bordered table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Serial No.</th>
                        <th>OrderID</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>OrderStatus</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                        foreach (var ordDetails in Model.OrderDetails)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@ordDetails.OrderID.ToString().Substring(0, 14) ..</td>
                                <td>@ordDetails.Amount</td>
                                <td>@ordDetails.OrderDate.ToShortDateString()</td>
                                <td>@ordDetails.OrderStatus</td>
                                <td><a href="~/Products/EditSellerOrderDetails?orderID=@ordDetails.OrderID&productID=@ordDetails.ProductID"><i class="fas fa-edit"></i></a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            if (User.IsInRole("BotLogin") || User.IsInRole("Seller"))
            {
                <center><p>Oops..!! No Orders Found.., <a href="~/Products/PromoteYourProducts">Click Here</a> To Promote Your Products</p></center>
            }
        }
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index", "Products")
</p>


<style>
    table tbody tr td {
        width: fit-content;
    }

    table thead tr {
        background-color: bisque;
        text-align: center;
    }

    th, td {
        text-align: center;
    }

    hr {
        border: 1.25px solid black;
    }

    .right-container h2 {
        margin-top: 5px;
        margin-bottom: -10px;
        padding: 5px;
    }
</style>
