@model Models.DTO.LstOrderDetailsForSeller
@{
    ViewBag.Title = "Seller - Dashboard";

    var TotalSales = Model.OrderDetails.Count();
    var TotalSalesQuantity = Model.OrderDetails.Sum(a => a.Quantity);
    var TotalSalesAmount = Model.OrderDetails.Sum(a => a.Amount);
    //var AvgSales = TotalSalesAmount / (Model.OrderDetails.OrderByDescending(a => a.OrderDate).FirstOrDefault().OrderDate.Month - DateTime.Now.Month);
}

<h2 class="page_Header">Overview</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>

<div class="main-container">
    <div class="main-left-conatiner">
        <div class="left-container">
            <div class="seller_Blocks">
                <h4>Total Sales &nbsp;<i class="fas fa-refresh"></i></h4>
                <h5><strong>@TotalSales</strong></h5>
            </div>
            <div class="seller_Blocks">
                <h4>Total Amount &nbsp;<i class="fas fa-refresh"></i></h4>
                <h5><strong>&#x20B9;@TotalSalesAmount</strong></h5>
            </div>
            <div class="seller_Blocks">
                <h4>Total Quantity &nbsp;<i class="fas fa-refresh"></i></h4>
                <h5><strong>@TotalSalesQuantity</strong></h5>
            </div>
            <div class="seller_Blocks">
                <h4>Total Returns &nbsp;<i class="fas fa-refresh"></i></h4>
                <h5><strong>0</strong></h5>
            </div>
        </div>
    </div>
    <div class="right-container">
        <h2> Ongoing Orders</h2>
        @if (Model.OrderDetails != null && Model.OrderDetails.Count > 0)
        {
            <table class="sellerOrderList_Table">
                <thead>
                    <tr>
                        <th>Sr.</th>
                        <th>OrderID</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>OrderStatus</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                        foreach (var ordDetails in Model.OrderDetails)
                        {
                            i++;
                            <tr>
                                <td><strong>@i</strong></td>
                                <td>@ordDetails.OrderID.ToString()</td>
                                <td><strong>@ordDetails.Amount</strong></td>
                                <td>@ordDetails.OrderDate.ToShortDateString()</td>
                                <td>@ordDetails.OrderStatus</td>
                                <!--<td><a href="~/Products/SellerOrderDetails?orderID=@ordDetails.OrderID&productID=@ordDetails.ProductID"><i class="fas fa-edit"></i></a></td>-->
                                <td><a href="~/Products/SellerOrderDetails?orderID=@ordDetails.OrderID"><i class="fas fa-edit"></i></a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            if (User.IsInRole("BotLogin") || User.IsInRole("Seller"))
            {
                <center><p>Oops..!! No Orders Found.., <a href="~/Products/PromoteYourProducts">Click Here</a> To Promote Your Products</p></center>
            }
        }
    </div>
</div>

<p>
    @Html.ActionLink("Back", "Index", "Products")
</p>


<style>

    hr {
        border: 1.25px solid black;
    }

    .right-container h2 {
        margin-top: 5px;
        padding: 5px;
    }
</style>
