@model Models.DTO.LstOrderDetails
@{
    ViewBag.Title = "Orders & Returns";
}

<h2 class="page_Header">@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>

<div class="main-container">
    <div class="left-container">
        <div class="user-form-body">
            <div style="height:10px">

            </div>
            <div class="row">
                <div class="form-grp col-sm-3">
                    @Html.LabelFor(model => model.UserDetails.FirstName, htmlAttributes: new { @class = "control-label " })
                    @Html.DisplayTextFor(model => model.UserDetails.FirstName)
                </div>

                <div class="form-grp col-sm-3">
                    @Html.LabelFor(model => model.UserDetails.MidName, htmlAttributes: new { @class = "control-label " })
                    @Html.DisplayTextFor(model => model.UserDetails.MidName)
                </div>

                <div class="form-grp col-sm-3">
                    @Html.LabelFor(model => model.UserDetails.LastName, htmlAttributes: new { @class = "control-label " })
                    @Html.DisplayTextFor(model => model.UserDetails.LastName)
                </div>
            </div>

            <div class="row">
                <div class="form-grp col-sm-3">
                    @Html.LabelFor(model => model.UserDetails.MobileNo, htmlAttributes: new { @class = "control-label " })
                    @Html.DisplayTextFor(model => model.UserDetails.MobileNo)
                </div>

                <div class="form-grp col-sm-3">
                    @Html.LabelFor(model => model.UserDetails.AadharNumber, htmlAttributes: new { @class = "control-label " })
                    @Html.DisplayTextFor(model => model.UserDetails.AadharNumber)
                </div>

                <div class="form-grp col-sm-3">
                    @Html.LabelFor(model => model.UserDetails.EmailID, htmlAttributes: new { @class = "control-label " })
                    @Html.DisplayTextFor(model => model.UserDetails.EmailID)
                </div>
            </div>

            <div class="row">
                <div class="form-grp col-sm-3">
                    @Html.LabelFor(model => model.UserDetails.State, htmlAttributes: new { @class = "control-label " })
                    @Html.DisplayTextFor(model => model.UserDetails.State)
                </div>

                <div class="form-grp col-sm-3">
                    @Html.LabelFor(model => model.UserDetails.City, htmlAttributes: new { @class = "control-label " })
                    @Html.DisplayTextFor(model => model.UserDetails.City)
                </div>

                <div class="form-grp col-sm-3">
                    @Html.LabelFor(model => model.UserDetails.PinCode, htmlAttributes: new { @class = "control-label " })
                    @Html.DisplayTextFor(model => model.UserDetails.PinCode)
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12">
                    @Html.LabelFor(model => model.UserDetails.FullAddress, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.UserDetails.FullAddress, new { @class = "form-control", @rows = "4", @cols = "100", @readonly = "readonly" })
                </div>
            </div>
        </div>
    </div>
    <h2 class="page_Header"> My Orders</h2>
    <hr />
    <div class="userProfile_List_Container">
        @if (Model.CartDetails != null && Model.CartDetails.Count > 0)
        {
            <table class="userProfile_Table">
                <thead>
                    <tr>
                        <th>Serial No.</th>
                        <th>OrderID</th>
                        <th>Amount</th>
                        <th>Placed On</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                        foreach (var cartDetails in Model.CartDetails)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@cartDetails.OrderID</td>
                                <td>@cartDetails.TotalAmount</td>
                                <td>@cartDetails.OrderDate.ToString("dd-MM-yyyy")</td>
                                <td>@cartDetails.OrderStatus</td>
                            <td>
                                @if (cartDetails.OrderStatus == "Delivered")
                                {
                                    <button class="btn-success writeReviewBtn" onclick='window.location.href = "/Products/BuyerOrderDetails?orderID=@cartDetails.OrderID"'><i class="fas fa-eye"></i> View</button>
                                }
                                else
                                {
                                    <button class="btn-warning writeReviewBtn" onclick='window.location.href = "/Products/BuyerOrderDetails?orderID=@cartDetails.OrderID"'><i class="fas fa-eye"></i> View</button>
                                }

                            </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            if (User.IsInRole("Admin") || User.IsInRole("Seller"))
            {
                <center><p>No Orders, <a href="~/Products/Index">Click Here</a> Check Your Products</p></center>
            }
            else if (User.IsInRole("Buyer") || User.IsInRole("BotLogin"))
            {
                <center><p>No Orders, <a href="~/Products/userIndex">Click Here</a> to shop Now.</p></center>
            }

        }
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index","Products")
</p>


<style>
    .right-container h2 {
        margin-top: 5px;
        margin-bottom: -10px;
        padding: 5px;
    }
</style>
