@model Models.DTO.ForgotPassword

@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password</h2>

@if (Model!= null && !string.IsNullOrEmpty(Model.Message))
{
    <center>
        <h4>@Model.Message</h4>
    </center>
}
else
{
    using (Html.BeginForm("VerifyForgotPassword", "Account", FormMethod.Post, new { @class = "login-form", @id = "formSubmit" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control",@readonly="readonly" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

            @Html.HiddenFor(model => model.Key, new { @class = "form-control", @id = "hdnKey" } )
            @Html.HiddenFor(model => model.AttemptNo, new { @class = "form-control", @id = "hdnAttemptNo" })
            @Html.HiddenFor(model => model.MaxNoOfAttempts, new { @class = "form-control", @id = "hdnMaxNoOfAttempts" } )

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" id="btnForgotSubmit" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}

<script>
    $("#btnForgotSubmit").on("click", function () {
        $("#hdnAttemptNo").val(parseInt($("#hdnAttemptNo").val()) + 1);
        $("#formSubmit").submit();
    });
</script>
