@model Models.DTO.MovieDetails

@{
    ViewBag.Title = "AddProduct";
}

@using (Html.BeginForm("AddProduct", "Products", FormMethod.Post, new {enctype = "multipart/form-data", @class = "addProduct_Form" }))
{
    @Html.AntiForgeryToken()

<div class="addProduct_Form_Div">
    <h2>Add Theatre</h2>
    @Html.ValidationSummary(true, "", new { @class = "text-danger", @id = "txtValidationSummary" })

    <div class="row_Input">
        <div class="form_Input">
            @Html.EditorFor(model => model., new { htmlAttributes = new { @class = "form_Control", @placeholder = "Name", @required = "required" } })
        </div>

        <div class="form_Input">
            @Html.EditorFor(model => model.PTitle, new { htmlAttributes = new { @class = "form_Control", @placeholder = "Title", @required = "required" } })
        </div>
    </div>

    <div class="row_Input">
        <div class="form_Input full_Address">
            @Html.TextAreaFor(model => model.PDescription, new { @class = "form_Control", @rows = "4", @cols = "100", @placeholder = "Description", @required = "required" })
        </div>
    </div>

    <div class="row_Input">
        <div class="form_Input">
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form_Control", @placeholder = "Quantity", @required = "required" } })
        </div>

        <div class="form_Input">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form_Control", @placeholder = "Price", @required = "required" } })
        </div>
    </div>

    <div class="row_Input">
        <input type="file" name="imgFile" class="login_Submit" onchange="getImagePreview(event)" />
        <div class="form_Input">
            @Html.DropDownListFor(model => model.CategoryID_FK, new SelectList(ViewBag.CategoryList, "Value", "Text"), "Please Select Category", new { @class = "form_Control", @placeholder = "Select Category", @required = "required" })
        </div>
    </div>

    <div class="row_Input">
        <div class="form_Input hidden" id="imgPreview"></div>
    </div>

    <button type="submit" class="login_Submit">Add Product</button>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
