@model Models.DTO.CartDetails

@{
    ViewBag.Title = " Order Details";
    var Quantity = Model.lstOrderDetails.Sum(a => a.Quantity);
}

<h2 class="page_Header">@ViewBag.Title</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>

@using (Html.BeginForm("SellerOrderDetails", "Products", FormMethod.Post, new { @class = "register-form" }))
{
    @Html.AntiForgeryToken()

<div class="addProduct_Form_Div">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row_Input">
        <div class="form_Input">
            @Html.LabelFor(model => model.OrderID, htmlAttributes: new { @class = "form_Control" })
            @Html.EditorFor(model => model.OrderID, new { htmlAttributes = new { @class = "form_Control", @readonly = "true" } })
        </div>
    </div>

    <div class="row_Input">
        <div class="form_Input">
            @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "form_Control" })
            @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form_Control", @readonly = "true" } })
        </div>
        <div class="form_Input">
            @Html.LabelFor(model => model.ModifiedDate, htmlAttributes: new { @class = "form_Control" })
            @Html.EditorFor(model => model.ModifiedDate, new { htmlAttributes = new { @class = "form_Control", @readonly = "true" } })
        </div>
    </div>

    <div class="row_Input">
        <div class="form_Input">
            <label class="form_Control">Amount</label>
            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form_Control", @readonly = "true" } })
        </div>
        <div class="form_Input">
            @Html.LabelFor(model => Quantity, htmlAttributes: new { @class = "form_Control" })
            @Html.EditorFor(model => Quantity, new { htmlAttributes = new { @class = "form_Control", @readonly = "true" } })
        </div>
    </div>

    <h2 class="page_Header">Item Details</h2>
    @if (Model.lstOrderDetails != null && Model.lstOrderDetails.Count > 0)
    {
        <table class="orderDetails_Buyer">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Order Status</th>
                    <th>Last Updated</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cart in Model.lstOrderDetails)
                {
                    <tr>
                        <td> &nbsp; @cart.ProductName</td>
                        @if (!string.IsNullOrEmpty(cart.ImgPath))
                        {
                            <td><img src="@Url.Content(cart.ImgPath)" width="60px" height="60px"></td>
                        }
                        else
                        {
                            <td><img src="~/Content/Images/Product.png" width="60px" height="60px"></td>
                        }
                        <td>@cart.Quantity</td>
                        <td>@cart.Amount</td>
                        <td>@cart.OrderStatus</td>
                        @if (cart.ModifiedDate != null)
                        {
                            <td>@Convert.ToDateTime(Model.ModifiedDate).ToShortDateString()</td>
                        }
                        else
                        {
                            <td>NA</td>
                        }
                        @if (cart.IsReviewed)
                        {
                            <td>Reviewed</td>
                        }
                        else if (cart.OrderStatus == "Delivered")
                        {
                            <td>
                                <button class="btn-warning writeReviewBtn" onclick="AddReview('@Model.OrderID', '@cart.ProductID', '@cart.ProductName')">Write Review</button>
                            </td>
                        }
                        else
                        {
                            <td>
                                <button disabled class="btn-warning writeReviewBtn" onclick="AddReview('@Model.OrderID', '@cart.ProductID', '@cart.ProductName')">Write Review</button>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <button class="login_Submit addProduct_Btn" onclick="javascript:window.print()">Print Order Summary</button>
    }
    else
    {
        <p>No Order Details Found for the OrderID</p>
    }
</div>
}

<div>
    @Html.ActionLink("Back", "Index")
</div>

<!--Add Review Modal-->
<div id="addReviewPopUp" class="modal">
    <center class="modal-content">
        <div class="modal-header">
            <span class="close" style=" margin-top: 13px;">&times;</span>
            <h2 style="text-align: initial;">Add Review</h2>
        </div>
        <div class="modal-body">
            <div id="revPopupBodyMsg"></div>
        </div>
    </center>
</div>
<!--Add Review Modal-->