@model Models.DTO.CartDetails

@{
    ViewBag.Title = "Order Details";
}
<div>
    <h4>Order Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            <strong>Rs.</strong>&nbsp;@Convert.ToInt32(Model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Model.OrderDate.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        @if (Model.ModifiedDate != null)
        {
            <dd>@Convert.ToDateTime(Model.ModifiedDate).ToShortDateString()</dd>
        }
        else
        {
            <dd>NA</dd>
        }
    </dl>
    <hr />
    <center>

        @if (Model.lstOrderDetails != null && Model.lstOrderDetails.Count > 0)
        {<table class="table table-responsive text-center" style="width:80%">
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Amount</th>
                        <th class="text-center">Order Status</th>
                        <th class="text-center">Last Updated</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cart in Model.lstOrderDetails)
                    {
                        <tr>
                            @if (!string.IsNullOrEmpty(cart.ImgPath))
                            {
                                <td><img src="@Url.Content(cart.ImgPath)" width="20px" height="20px"> &nbsp; @cart.ProductName</td>
                            }
                            else
                            {
                                <td><img src="~/Content/Images/Product.png" width="20px" height="20px">&nbsp; @cart.ProductName</td>
                            }
                            <td>@cart.Quantity</td>
                            <td>@cart.Amount</td>
                            <td>@cart.OrderStatus</td>
                            @if (cart.ModifiedDate != null)
                            {
                                <td>@Convert.ToDateTime(Model.ModifiedDate).ToShortDateString()</td>
                            }
                            else
                            {
                                <td>NA</td>
                            }
                            @if (cart.IsReviewed)
                            {
                                <td>Reviewed</td>
                            }
                            else if (cart.OrderStatus == "Delivered")
                            {
                                <td>
                                    <button class="btn-warning writeReviewBtn" onclick="AddReview('@Model.OrderID', '@cart.ProductID', '@cart.ProductName')">Write Review</button>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <button disabled class="btn-warning writeReviewBtn" onclick="AddReview('@Model.OrderID', '@cart.ProductID', '@cart.ProductName')">Write Review</button>
                                </td>
                            }

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No Order Details Found for the OrderID</p>
        }
    </center>
</div>

<center>
    <a class="btn btn-success" href="javascript:window.print()">
        Print Order Summary
    </a>
</center>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<!--Add Review Modal-->
<div id="addReviewPopUp" class="modal">
    <center class="modal-content">
        <div class="modal-header">
            <span class="close" style=" margin-top: 13px;">&times;</span>
            <h2 style="text-align: initial;">Add Review</h2>
        </div>
        <div class="modal-body">
            <div id="revPopupBodyMsg"></div>
        </div>
    </center>
</div>
<!--Add Review Modal-->
