@model Models.DTO.CartDetails

@{
    ViewBag.Title = " Order Details";
    var Quantity = Model.lstOrderDetails.Sum(a => a.Quantity);
}

<div style="display: flex; align-items: baseline;">
    <h2 class="page_Header">@ViewBag.Title - </h2> &nbsp; @Model.OrderID
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>


<form class="register-form" method="post" action="../Products/SellerOrderDetails" id="submitSellerOrderUpdate">
    @Html.AntiForgeryToken()

    <div class="addProduct_Form_Div">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row_Input">
            <div class="form_Input">
                @Html.LabelFor(model => model.OrderID, htmlAttributes: new { @class = "form_Control" })
                @Html.EditorFor(model => model.OrderID, new { htmlAttributes = new { @class = "form_Control", @readonly = "true" } })
            </div>
        </div>

        <div class="row_Input">
            <div class="form_Input">
                @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "form_Control" })
                @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form_Control", @readonly = "true" } })
            </div>
            <div class="form_Input">
                @Html.LabelFor(model => model.ModifiedDate, htmlAttributes: new { @class = "form_Control" })
                @Html.EditorFor(model => model.ModifiedDate, new { htmlAttributes = new { @class = "form_Control", @readonly = "true" } })
            </div>
        </div>

        <div class="row_Input">
            <div class="form_Input">
                <label class="form_Control">Amount</label>
                @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form_Control", @readonly = "true" } })
            </div>
            <div class="form_Input">
                @Html.LabelFor(model => Quantity, htmlAttributes: new { @class = "form_Control" })
                @Html.EditorFor(model => Quantity, new { htmlAttributes = new { @class = "form_Control", @readonly = "true" } })
            </div>
        </div>

        <div class="row_Input">
            <div class="form_Input">
                @Html.LabelFor(model => model.OrderStatus, htmlAttributes: new { @class = "form_Control" })
                <select name="OrderStatus" class="form_Control">
                    @foreach (var item in ViewBag.lstOrdStatusList)
                    {
                        if (item.Text == Model.OrderStatus)
                        {
                            <option value="@item.Value" selected="selected">@item.Text </option>
                        }
                        else
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="row_Input" style="display:block">
            <h5 style="text-align:center"><strong>Note:-</strong> Items sold by you for this order will be updated.</h5>
        </div>

        @if (Model.OrderStatus == "Delivered") {
            <button type="submit" class="login_Submit addProduct_Btn" style="opacity: 0.8; cursor: not-allowed;">Update</button>
        }
        else {
            <button type="submit" class="login_Submit addProduct_Btn" onclick="SubmitSellerOrderUpdate(event)">Update</button>
        }

        <h2 class="page_Header">Item Details</h2>
        @if (Model.lstOrderDetails != null && Model.lstOrderDetails.Count > 0)
        {
            <table class="orderDetails_Seller">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cart in Model.lstOrderDetails)
                    {
                        <tr>
                            <td>
                                @if (!string.IsNullOrEmpty(cart.ImgPath))
                                {
                                    <img src="@Url.Content(cart.ImgPath)" width="60px" height="60px">
                                }
                                else
                                {
                                    <img src="~/Content/Images/Product.png" width="60px" height="60px">
                                }
                                &nbsp; @cart.ProductName
                            </td>
                            <td>@cart.Quantity</td>
                            <td>@cart.Amount</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No Order Details Found for the OrderID</p>
        }
    </div>
</form>

<div>
    @Html.ActionLink("Back", "Index")
</div>

<script type="text/javascript">
</script>